body{
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-family: 'Baloo Bhai', cursive;
}



#main-links{
display: grid;
grid-template-columns: 1fr 1fr 2fr;
background-color: rgb(28, 110, 110);
height: 4em;
align-items: center;
}

#logo{
  text-align: end;
  font-size: 2em;
  margin-right: 1em;
  }

#catalog{
  text-decoration: none;
  font-size: 2em;
  color: white;
}
#home{
  text-decoration: none;
  font-size: 2em;
  color: white;
  text-align: center;
}

#chosenMovie{
  width: 500px;
  height: 500px;
  background-size: cover;

}



#movie{
  display: inline-block;
  margin: 0.5%;
  color: yellowgreen;
  width: 285px;
  height: 285px;
  background-size: cover;
}

.movies-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.rented-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}


hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}
.accessory {
  height: 6px;
  background-image: radial-gradient(
    closest-side,
    hsla(0, 0%, 50%, 1.0),
    hsla(0, 0%, 50%, 0) 100%);
  position: relative;
}
.accessory:after {
  position: absolute;
  top:  50%;
  left: 50%;
  display:block;
  background-color: hsl(0, 0%, 75%);
  height: 12px;
  width:  12px;
  transform: rotate(45deg);
  margin-top:  -10px;
  margin-left: -10px;
  border-radius: 4px 0;
  border: 4px solid hsla(0, 0%, 100%, 0.35);
  background-clip: padding-box;
  box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15);
}

.users{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

.users a {
text-decoration: none;
color : white;
font-size: 1.5em;
}
#user{
  width: 200px;
  height: 200px;
  background-size: cover;
  font-size: 36px;
  font-weight: 600;
  color: black;
  
 

}

#watching{
  color: white;
  text-align: center;
  margin-top: 5%;
  font-size: 2em;
}

h1{
  color: white;
  margin-top: 5%;
  font-size: 1.5em;
}
