body{
  background-color: black;
  color: white;
}



#main-links{
display: grid;
grid-template-columns: 1fr 1fr 2fr;
}

#logo{
  text-align: end;
  font-size: 2em;
}

#catalog{
  text-decoration: none;
  font-size: 2em;
  color: white;
}
#home{
  text-decoration: none;
  font-size: 2em;
  color: white;
  text-align: center;
}

#chosenMovie{
  width: 500px;
  height: 500px;
  background-size: cover;

}



#movie{
  display: inline-block;
  margin: 0.5%;
  color: yellowgreen;
  width: 285px;
  height: 285px;
  background-size: cover;
}

.movies-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.rented-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}


hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.users{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

#user{
  width: 200px;
  height: 200px;
  background-size: cover;
  font-size: 36px;
  font-weight: 600;
  color: black;
  
 

}

#watching{
  color: white;
  text-align: center;
  margin-top: 5%;
  font-size: 2em;
}

h1{
  color: white;
  margin-top: 5%;
  font-size: 1.5em;
}
